.wrapper {
  position: relative;
}

.gallow div:nth-child(1) {
  height: 50px;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
}

.gallow div:nth-child(2) {
  height: 10px;
  width: 200px;
  background-color: #000;
  margin-left: 120px;
}

.gallow div:nth-child(3) {
  height: 400px;
  width: 10px;
  background-color: #000;
  margin-left: 120px;
}

.gallow div:nth-child(4) {
  height: 10px;
  width: 250px;
  background-color: #000;
  border-radius: 10px 10px 0 0;
}

.head {
  width: 50px;
  height: 50px;
  border: 10px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background-color: #000;
  position: absolute;
  top: 120px;
  right: 0;
}

.leftArm {
  width: 100px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.rightArm {
  width: 100px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.leftLeg {
  width: 100px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

.rightLeg {
  width: 100px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}
